* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.5rem;
  margin-top: 1rem;
}
